/* src/pages/LandingPage.css */
.landing-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f5f5f5; /* Light gray */
}

.main-content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* Ensure positioning context for absolute children */
}

.hero-paper {
    padding: 40px; /* Increased padding */
    text-align: center;
    background-color: white; /* White background for fallback */
    position: relative; /* Ensure positioning context for pseudo-element */
    height: 60vh; /* Adjust the height as needed */
    width: 79%; /* Full width */
    border-radius: 8px; /* Optional: rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: add a shadow */
    margin-top: -200px; /* Move the paper upwards */
    overflow: hidden; /* Hide any overflow to keep the blur effect contained */
    background-image: url('/src/assets/images/img_5.jpg'); /* Set your background image */
    background-size: cover; /* Cover the entire container */
    background-repeat: no-repeat; /* Prevent repeating */
    background-position: center; /* Center the background image */
}

.hero-paper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5); /* White overlay with some transparency */
    filter: blur(5px); /* Add a subtle blur effect */
    z-index: -1; /* Send the pseudo-element behind the content */
}

.hero-title {
    margin-bottom: 20px;
    color: #2e8b57; /* Dark green */
}

.hero-subtitle {
    margin-bottom: 20px;
}

.get-started-button {
    margin-top: 20px;
    background-color: #3cb371; /* Medium sea green */
    color: white;
}
