/* src/pages/AdminDashboard.css */
.dashboard-paper-admin {
  padding: 30px;
  width: 100%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh; /* Ensure the paper takes at least 60% of viewport height */
}

.dashboard-title-admin {
  color: #2e8b57; /* Dark green */
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.dashboard-container-admin {
  position: relative;
  margin-top: 4rem;
  overflow: hidden; 
}

.dashboard-subtitle-admin {
  color: #3cb371; /* Medium sea green */
  margin-bottom: 40px; /* Add spacing between title and cards */
  text-align: center;
}

.dashboard-card-admin {
  padding: 20px;
  background-color: #f0f8f0; /* Very light green */
  border-radius: 8px;
  text-align: center;
  height: 150px; /* Adjust height as needed */
}

.card-title-admin {
  color: #3cb371; /* Medium sea green */
  margin-bottom: 10px;
}

.card-value-admin {
  color: #2e8b57; /* Dark green */
  font-weight: bold;
}
